#Row1 {
 background-color: rgb(209, 16, 16);
}
#Row2 {
  background-color: rgb(223, 85, 22);
 }
 #Row3 {
  background-color: rgb(252, 206, 1);
 }
 #Row4 {
  background-color: rgb(28, 226, 10);
 }
 #Row5 {
  background-color: rgb(13, 81, 228);
 }
 #Row6 {
  background-color: rgb(182, 142, 194);
 }
 #Row1 {
  background-color: rgb(233, 22, 145);
 }
