body{
  height: 200px;
  width: 80%;
  text-align: center;
}

div{
  height: fit-content;
  width: 70%;
  padding: 0;
  margin: 0;

}

#Row1 {
 background-color: rgb(209, 16, 16);
 
}
#Row2 {
  background-color: rgb(223, 85, 22);
  
 }
 #Row3 {
  background-color: rgb(252, 206, 1);
  
 }
 #Row4 {
  background-color: rgb(28, 226, 10);
  
 }
 #Row5 {
  background-color: rgb(6, 234, 250);
  
 }
 #Row6 {
  background-color: rgb(20, 0, 107);
  
 }
 #Row7 {
  background-color: rgb(152, 10, 180);
  
 }
